<img src="images/taejun.jpg" alt="taejun" id="myPhoto" width="300" height="300">
            <h4>Hi! My name is Taejun Jang</h4>
            <h4>Education</h4>
            <p>Soft engineering technology - Centennial College, Toronto</p>
            <P>Baking and Pastry management - GeorgeBrown College, Toronto</P>
            <p>international business - Jeonbuk National University, South Korea</p>
            <h4>Experience</h4>
            <p>baker - Cobs Bread, Toronto</p>
            <p>bakery manager - The Tempered room, Toronto</p>
            <p>Server/cook - A+ Sushi&Bibim,Toronto</p>
            <p>Special Force - Republic of Korea Army, South Korea</p>
            <h4>Skills</h4> 
            <p>C#, Java, Python, P/L SQL, JavaScript, HTML/XML and Unix/Linux</P>
            <P>proficient in MS Office, Git/GitHub, Jira, MS Project</p>
            <h4>Extra</h4>
            <p>volunteer certificates from many places</p>
            <p>CPR and first-aid certificate</p>
        <fieldset>
            <h5>Find my Resume here!</h5>
            <a href="TaejunJang-resume.pdf">TaejunJang-Resume</a>
        </fieldset>