<h2>Here are my projects</h2>
        <fieldset>
            <img src="images/photoGallery project.jpg" alt="project1" id="project1" width="250" height="250">
            <p><b>Project name</b></p>
            <p>Aquarium photoGallery</p>
            <p><b>Description</b></p> 
            <p>This gallery show 3 or 5 preview by clicking "Show more images" and next picture is showed when user press next button.
                <br>When user click the picture zoomed picture will be showed and user can add picture to favorite by clicking "Add to favorite" button in Zoomed page
                <br>Thumbnail will be save in underneath the gallery picture in the main page and user can remove by click the picture.
            </p>
        </fieldset>
        <fieldset>
            <img src="images/HouseCare project.jpg" alt="project2" id="project2" width="250" height="250">
            <p><b>Project name</b></p>
            <P>House care Document</p>
            <p><b>Description</b></p>
            <p>This project is SRS Document project. 6 team members worked fo this project and this document starts with description of stakeholders, 
                intended user and subsystem and includes Context Flow Diagram, Non-UML Context Flow Diagram, , Goal Use Cases, Use case Diagrams, User Stories, Domain Class Diagram, 
                Hierarchies, Compositions/Aggregations, ERD models, UML Systems Sequence diagram, UML State Diagrams and so on
            </p>
        </fieldset>
        <fieldset>
            <img src="images/Table project.jpg" alt="project3" id="project3" width="250" height="250">
            <p><b>Project name</b></p>
            <p>Table creation</p>
            <p><b>Description</b></p>
            <p>This project shows the example of table and user can make the table by entering the number in the blank.
                <br>Max number of row is 15 and minimum of colum is 0. It will show error if user enter wrong number.</p>
        </fieldset>