<h2>Services that we offer</h2>
        <table id="sTable">
            <tr>
                <td><img src="images/webpage.jpg" alt="webpage" id="webpage" width="150" height="150"></td>
                <td>Create personal webpage</td>
            </tr>
            <tr>
                <td><img src="images/mobile.jpg" alt="mobile" id="mobile" width="150" height="150"></td>
                <td>Create mobile app</td>
            </tr>
            <tr>
                <td><img src="images/program.jpg" alt="program" id="program" width="150" height="150"></td>
                <td>Build personal program</td>
            </tr>
            <tr>
                <td><img src="images/testing.jpg" alt="testing" id="testing" width="150" height="150"></td>
                <td>Testing</td>
            </tr>
        </table>