<title>COMP 229 - Web Application Development(Assignment1)</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/@fortawesome/fontawesome-free/css/all.min.css">
        <link rel='stylesheet' href='/stylesheets/assignment1.css' />