<!-- aboutMe.ejs Created by Taejun Jang(301228129) - Created on September 26, 2022 -->
<!DOCTYPE html>
<html lang="en">
    <head>
        <%- include('../views/partials/head'); %>
    </head>
    <body>
        <header>
            <%- include('../views/partials/header'); %>
        </header>
    <nav>
        <ul>
            <li><a href="/">HomePage</a></li>
            <li><a href="/projects">Projects</a></li>
            <li><a href="/services">Services</a></li>
            <li><a href="/contactMe">Contact Me</a></li>
            <li><a href="/contact-list">Business Contact</a></li>
            <li><a href="/login">Login</a></li>
        </ul>
    </nav>
    </nav>
    <div id="mainDiv">
        <%- include('../views/partials/content2'); %>
    </div>
    <footer>
        <%- include('../views/partials/footer'); %>
    </footer>
    </body>
</html>