/*
Name: Taejun Jang
Student Number: 301228129
*/
nav {
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 0px;
    width: 1020px;
    height: 68px;
    font-size: 18px;
    font-weight: bold;
    background: rgb(36,54,102);
}
nav ul {
   text-align: center;
}
nav ul li {
   padding: 2px 10px;
   display: inline-block;
   margin: 0 5px;
   background: rgb(216,217,219);
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   border: 2px solid rgb(216,217,219);
}
nav ul li:hover {
   border: 2px solid #ffab00;
}
body {
   background-image: url(/images/bg2.jpg);
   background-repeat: no-repeat;
   background-attachment: fixed;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-size: 100% 100%;
}
header{
   width: 1020px;
   height: 100px;
   text-align: center;
   background-color: rgb(211, 227, 236);
   margin-left: auto;   
   margin-right: auto;
}
#mainDiv{
   width: 1020px;
   text-align: center;
   background-color: azure;
   margin-top: 0px;
   padding-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
}
#logo {
   float: left;
}
h1 {
   padding-top: 30px;
   color: rgb(37, 71, 164);
   text-align: center;
   font-family: Arial, Helvetica, sans-serif;
   font-size: 2.5em;
   margin-left: 150px;
}
h2 {
   margin-top: 0px;
   padding-top: 20px;
   color: cadetblue;
   text-align: center;
}
h4 {
   font-size: larger;
   font-weight: bold;
}
h5 {
   font-size: x-large;
   color: red;
}
footer {
   text-align: center;
   color: white;
   font-size: small;
}
legend {
   font-size: larger;
   font-weight: bold;
}
fieldset {
   width: 750px;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   margin-left: auto;
   margin-right: auto;
   padding-top: 15px;
   margin-bottom: 15px;
   font-size: larger;
}
#myPhoto {
   padding-top: 30px;
}
#sTable {
   width: 700px;
   margin-left: auto;
   margin-right: auto;
   font-size: larger;
   font-weight: bold;
}
label {
   width: 250px;
   display: inline-block;
}
#contactDiv {
   width: 1020px;
   background-color: azure;
   margin-top: 0px;
   padding-bottom: 50px;
   margin-left: auto;
   margin-right: auto;
   font-weight: bold;
}
#submit {
   margin-left: 350px;
}
#taejun {
   text-align: center;
}
#contactTbl {
   margin-left: auto;
   margin-right: auto;
   width: 800px;
   border: 0.5cm;
}
table, th, td {
   border: 2px solid darkgray;
   border-collapse: collapse;
}
th {
   background-color: lightgray;
}
#addBtn{
  width: 100px;
  border: none;
  background-color: burlywood;
  padding: 14px 28px;
  font-size: 16px;
  cursor: pointer;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bold;
}